@model List<Message>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="container-fluid">
    <!-- Breadcrumb-->
    <div class="row pt-2 pb-2">
        <div class="col-sm-9">
            <h4 class="page-title">Mail Sentbox</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javaScript:void();">Dashtreme</a></li>
                <li class="breadcrumb-item"><a href="javaScript:void();">Mail</a></li>
                <li class="breadcrumb-item active" aria-current="page">Mail Sentbox</li>
            </ol>
        </div>
    </div>
    <!-- End Breadcrumb-->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3 col-md-4">
                            <a href="/Compose/Index/" class="btn btn-danger btn-block">New Mail</a>
                            @await Component.InvokeAsync("_LeftMenuBarComponentPartial")
                        </div>
                        <div class="col-lg-9 col-md-8">
                            <div class="row">
                                @await Component.InvokeAsync("_ToolBarComponentPartial")
                                @await Component.InvokeAsync("_SearchMailComponentPartial")
                            </div>
                            <div class="card mt-3 shadow-none">
                                <div class="card-body">
                                    <div class="table table-responsive d-flex flex-column justify-content-between align-items-start">
                                        <form id="" method="post" action="@Url.Action("ChangeIsTrashStatusToTrue", "ReadMail")">
                                        <table class="table table-hover">
                                            <tbody>
                                                @foreach (var item in Model)
                                                {

                                                    <tr>
                                                        <td>
                                                            <div class="icheck-material-primary my-0">
                                                                <!-- Include the message ID as a value attribute -->
                                                                <input id="checkbox_@item.MessageId" type="checkbox"
                                                                       name="selectedItems" value="@item.MessageId" class="message-checkbox">
                                                                <label for="checkbox_@item.MessageId"></label>
                                                            </div>
                                                        </td>


                                                        <td class="mail-rateing">
                                                            <a href="/ReadMail/ChangeIsStarredStatusToTrue/@item.MessageId"
                                                               class="fa fa-star @(item.IsStarred ? "text-info ml-0" : "text-muted")">
                                                            </a>
                                                        </td>

                                                        <td>
                                                            <a href="/ReadMail/Index/@item.MessageId"
                                                               class="@((item.IsRead) ? "text-muted" : "font-weight-bold")">
                                                                @item.User.FirstName @item.User.LastName
                                                            </a>
                                                        </td>

                                                        <td>
                                                            <a href="/ReadMail/ChangeIsImportantStatusToTrue/@item.MessageId"
                                                               class="fa fa-circle @(item.IsImportant ? "text-info ml-0" : "text-muted")">
                                                            </a>
                                                        </td>

                                                        <td>
                                                            <a href="/ReadMail/Index/@item.MessageId"
                                                               class="@((item.IsRead) ? "text-muted" : "font-weight-bold")">
                                                                @if (item.Subject.Length >= 20)
                                                                {
                                                                    <span>@item.Subject.Substring(0, 20)...</span>
                                                                }
                                                                else
                                                                {
                                                                    @item.Subject
                                                                }
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a href="/ReadMail/Index/@item.MessageId"
                                                               class="@((item.IsRead) ? "text-muted" : "font-weight-bold")">
                                                                @if (item.Content.Length >= 50)
                                                                {
                                                                    <span>@item.Content.Substring(0, 50)...</span>
                                                                }
                                                                else
                                                                {
                                                                    @item.Content
                                                                }
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <i class="fa fa-paperclip"></i>
                                                        </td>
                                                        <td class="text-right">
                                                            <a href="/ReadMail/Index/@item.MessageId"
                                                               class="@((item.IsRead) ? "text-muted" : "font-weight-bold")">
                                                                @{
                                                                    DateTime currentDate = DateTime.Today;
                                                                    DateTime itemDate = item.Timestamp; // Assuming item.Date is the date you want to display
                                                                }

                                                                @if (itemDate.Date == currentDate)
                                                                {
                                                                    <p>Today, @itemDate.ToString("t")</p> <!-- Show only time -->
                                                                }
                                                                else if (itemDate.Date == currentDate.AddDays(-1))
                                                                {
                                                                    <p>Yesterday, @itemDate.ToString("dd MMM")</p> <!-- Show only date -->
                                                                }
                                                                else
                                                                {
                                                                    <p>@itemDate.ToString("ddd, dd MMM")</p> <!-- Show full date -->
                                                                }
                                                            </a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                        </form>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-7">
                                            Showing 1 - 25 of 300
                                        </div>
                                        <div class="col-5">
                                            <div class="btn-group float-right">
                                                <button type="button" class="btn btn-light waves-effect"><i class="fa fa-chevron-left"></i></button>
                                                <button type="button" class="btn btn-light waves-effect"><i class="fa fa-chevron-right"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- card body -->
                            </div>
                            <!-- card -->
                        </div>
                        <!-- end Col-9 -->
                    </div>
                    <!-- End row -->
                </div>
            </div>
        </div>
    </div>
    <!-- End row -->
    <!--start overlay-->
    <div class="overlay toggle-menu"></div>
    <!--end overlay-->
</div>
<!-- End container-fluid-->