@model Message
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="container-fluid">
    <!-- Breadcrumb-->
    <div class="row pt-2 pb-2">
        <div class="col-sm-9">
            <h4 class="page-title">Mail Readbox</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javaScript:void();">Dashtreme</a></li>
                <li class="breadcrumb-item"><a href="javaScript:void();">Mail</a></li>
                <li class="breadcrumb-item active" aria-current="page">Read Mailbox</li>
            </ol>
        </div>
    </div>
    <!-- End Breadcrumb-->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3 col-md-4">
                            <a href="/Compose/Index/" class="btn btn-danger btn-block">New Mail</a>
                            @await Component.InvokeAsync("_LeftMenuBarComponentPartial")
                        </div>
                        <div class="col-lg-9 col-md-8">
                            <div class="row">
                                @await Component.InvokeAsync("_ToolBarComponentPartial")
                                @await Component.InvokeAsync("_SearchMailComponentPartial")
                            </div>

                            <div class="card mt-3 shadow-none">
                                <div class="card-body">
                                    <div class="media mb-3">
                                        <img src="https://treegreenmd.com/wp-content/uploads/2023/09/Tree-Green-Circle-Image-2.png" class="rounded-circle mr-3 mail-img shadow" alt="media image">
                                        <div class="media-body">
                                            <span class="media-meta float-right">@Model.Timestamp.ToString("dd MMM yyyy hh : mm tt")</span>
                                            <h4 class="m-0">@Model.User.FirstName @Model.User.LastName</h4>
                                            <medium>From : @Model.Sender</medium>
                                            <medium>To : @Model.Recever</medium>
                                        </div>
                                    </div> <!-- media -->

                                    <p><b>@Model.Subject</b></p>
                                    <p>@Model.Content</p>
                                    <hr>
                                    <h4> <i class="fa fa-paperclip mr-2"></i> Attachments <span>(3)</span> </h4>
                                    <div class="row">
                                        <div class="col-sm-4 col-md-3">
                                            <a href="javascript:void();"> <img src="https://via.placeholder.com/800x500" alt="attachment" class="img-thumbnail"> </a>
                                        </div>
                                        <div class="col-sm-4 col-md-3">
                                            <a href="javascript:void();"> <img src="https://via.placeholder.com/800x500" alt="attachment" class="img-thumbnail"> </a>
                                        </div>
                                        <div class="col-sm-4 col-md-3">
                                            <a href="javascript:void();"> <img src="https://via.placeholder.com/800x500" alt="attachment" class="img-thumbnail"> </a>
                                        </div>
                                    </div>

                                    <form class="mt-3">
                                        <div class="form-group">
                                            <textarea class="form-control" rows="9" placeholder="Reply here..."></textarea>
                                        </div>
                                    </form>

                                    <div class="text-right">
                                        <button type="button" class="btn btn-primary waves-effect waves-light mt-3"><i class="fa fa-send mr-1"></i> Send</button>
                                    </div>

                                </div>
                            </div> <!-- card -->


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay toggle-menu"></div>
</div>